<% layout('/layouts/boilerplate') -%>

    <body>
        <br><br>
        <div class="row">
            <div class="col-8 offset-2 ">
                <h3>Create New Listing</h3>
                <form action="/listings" method="post" class="needs-validation" novalidate
                    enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" name="listing[title]" placeholder="Add a catchy title" class="form-control"
                            required>
                        <div class="valid-feedback">Title looks good!</div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="listing[description]" class="form-control" required></textarea>
                        <div class="invalid-feedback">Add a description</div>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Upload Listing Image</label><br>
                        <input type="file" name="listing[image]" class="form-control" style="width: 100%;">
                    </div>
                    <div class="row">

                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input type="text" name="listing[price]" placeholder="1200" class="form-control" required>
                            <div class="invalid-feedback">Enter a valid price.</div>
                        </div>
                        <div class="mb-3 col-md-8">
                            <label for="location" class="form-label ">Location</label>
                            <input type="text" name="listing[location]" placeholder="Jaipur, Rajasthan"
                                class="form-control" required>
                            <div class="invalid-feedback">Enter a valid location.</div>
                        </div>
                    </div>
                    <div class="mb-3 col-md-4">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" placeholder="India" class="form-control" required>
                        <div class="invalid-feedback">Enter a valid country.</div>
                    </div>

                    <button class="btn btn-dark mb-3 add-btn">Add</button>
                </form>
            </div>
        </div>
    </body>

    </html>